<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>经营关系</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
</head>
<body style="margin:30px;">
<form class="layui-form" >
    <div class="layui-form-item">
        <label class="layui-form-label">商品：</label>
        <div class="layui-input-block">
            <select name="sid" >
                <div th:each="item:${stuffs}"><option th:value="${item.id}" th:text="${item.name}"></option></div>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商户：</label>

        <div class="layui-input-block">
            <select name="seid" >
                <div th:each="item:${sellers}"><option th:value="${item.id}" th:text="${item.name}"></option></div>
            </select>
        </div>
    </div>


    <div class="layui-form-item" style="text-align: center;">
        <input type="submit" class="layui-btn" lay-submit="" lay-filter="btnAdd" value="保存"/>
        <input type="reset" class="layui-btn layui-btn-primary" value="重置"/>
    </div>
</form>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form','layer'], function () {
        var $ = layui.jquery,
            form = layui.form;
        form.on('submit(btnAdd)', function(data) {
            $.ajax({
                type: 'POST',
                url: /*[[@{/sys_run/add}]]*/'',
                dataType:'json',
                data: data.field,
                async: true,
                success: function (result) {
                    console.log(result.code)
                    if (result.code == 0) {
                        layer.msg('保存成功', {icon: 1, time:1000});
                        setTimeout(function(){
                            top.layer.closeAll('iframe');
                            //刷新父亲的页面
                            console.log("关闭之后刷新界面");

                            parent.refreshIframe();
                        },800);
                    } else {
                        consol.alert(result.code);
                        layer.msg('保存失败！'+result.msg, {icon: 2, time:1000});
                    }
                },
                error: function (result, type) {
                    layer.msg('保存失败！', { icon: 2, time:1000 });
                }
            });
            console.log(data.field)
            return false;
        });

    });

</script>
</body>
</html>