<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户编辑</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
</head>
<body style="margin:30px;">
<form class="layui-form" method="post" th:action="@{/sys_mtype/modify}" >
    <input type="hidden" name="id" th:value="${maintype.id}"/>
    <div class="layui-form-item">
        <label class="layui-form-label">商品名：</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input" th:value="${maintype.typeName}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品描述：</label>
        <div class="layui-input-inline">
            <input type="text"  name="password" autocomplete="on" default="暂无描述" class="layui-input"/>
        </div>
    </div>


    <div class="layui-form-item" style="text-align: center;">
        <input type="submit" class="layui-btn" lay-submit=" " lay-filter="btnSave" value="保存"/>
        <input type="reset" class="layui-btn layui-btn-primary" value="重置"/>
    </div>
</form>
</body>
</html>